
<md-sidenav md-component-id="left" class="md-sidenav-left">
    <header>
    </header>
    <md-menu-content>
    </md-menu-content>
</md-sidenav>
<md-toolbar class="md-primary">
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button" ng-click="$ctrl.toggleLeftMenu()" hide show-sm show-xs>
            <md-icon class="material-icons">menu</md-icon>
        </md-button>
        <span flex></span>
        <h2 ui-sref="news" class="md-flex">Hacked Hacker News</h2>
        <span flex></span>
    </div>
</md-toolbar>
